[Oo]bj/
[Bb]in/
TestResults/
cobertura/
junit/
.nuget/
.vs/
_ReSharper.*/
publish/
publish1/
publish2/
packages/
artifacts/
lib/
webroot/
node_modules/
build/
logs/
publish/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*net45.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.sln.ide
project.lock.json
inspectcode.xml
dupfinder.xml
store/
mono_crash.*
appsettings.user.json
appsettings.user.yml
serilog.user.json
*.todo
*.log
.antlr/